<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>ToDo-{{ title }}</title>
    {% else %}
        <title>ToDo</title>
    {% endif %}
</head>
<body>
    <nav>
        {% if title == 'Projects List' %}
            <ul>
                <li><a href="{% url 'desk:project_create' %}">Create Project</a></li>
            </ul>
        {% elif title == 'Projects Update' or title == 'Projects Create' or title == 'Projects Detail' %}
            <ul>
                <li><a href="{% url 'desk:project_list' %}">Back to projects list</a></li>
            </ul>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>