{% extends 'desk/base.html' %}
{% block content %}
{% load add_attr %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="m-auto w-50 border rounded text-center p-3 text-white">
        <h2>Enter new name for the project.</h2>
        <form action="{% url 'desk:project_create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name|add_attr:"class:form-control" }}
            </div>
            <span class="w-50 m-auto d-flex justify-content-around">
                <input class="btn btn-dark border-light" type="submit" value="Create">
                <a class="btn btn-dark" href="{% url 'desk:project_list' %}">Cancel</a>
            </span>
        </form>
    </div>

{% endblock content %}
