{% extends 'desk/base.html' %}
{% load static %}

{% block content %}

<!--LEFT SIDE-->
<div class="row" style="height: 75vh">
    <div class="col-3 border rounded p-0">
        <div class="border rounded m-1 p-2 text-center text-white position-relative">
            <span>Projects</span>
            <a href="{% url 'desk:project_create' %}" class="float-right stretched-link" data-toggle="tooltip" data-placement="right" title="Create a project">
                <img src="{% static 'desk/icons/create-16.png' %}" alt="C">
            </a>
        </div>
        <div class="border rounded m-1">
            <div id="project-btn-group" class="btn-group-vertical d-block">
<!--                generate project list-->
               {% for project in project_list %}
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapse-{{ project.id }}"  aria-expanded="false" aria-controls="collapse-{{ project.id }}">
                        {{ project }}
                        <span class="float-right">
                            <a href="{% url 'desk:project_update' project.id %}" data-toggle="tooltip" data-placement="right" title="Edit the project">
                                <img src="{% static 'desk/icons/edit-16.png' %}" alt="U">
                            </a>
                            <a href="{% url 'desk:project_delete' project.id %}" data-toggle="tooltip" data-placement="right" title="Delete the project">
                                <img src="{% static 'desk/icons/delete-16.png' %}" alt="D">
                            </a>
                        </span>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
<!--RIGHT SIDE-->
    <div id="task-area" class="col-9 border rounded p-1">
        <div class="border rounded p-2 mb-1 text-center text-white position-relative">
            <span>Tasks</span>
            <a href="{% url 'desk:task_create' %}" class="float-right stretched-link" data-toggle="tooltip" data-placement="right" title="Create a task">
                <img src="{% static 'desk/icons/create-16.png' %}" alt="C">
            </a>
        </div>
        {% for project in project_list %}
            <div id="collapse-{{ project.id }}" class="collapse rounded bg-dark text-white" data-parent="#task-area">
                <div class="card card-body bg-dark border-light btn-group-vertical p-0">
<!--                        generate task list-->
                    {% if project.task_set.all %}
                        {% for task in project.task_set.all %}
                            <button class="btn btn-dark text-left" type="button" data-toggle="collapse" data-target="#collapse-task-{{ task.id }}" aria-expanded="false" aria-controls="collapse-task-{{ task.id }}">

<!--                                badges-->
                                {% if task.status == 0 %}
                                    <span class="badge badge-secondary col-1">new</span>
                                {% elif task.status == 1 %}
                                    <span class="badge badge-info col-1">working</span>
                                {% elif task.status == 2 %}
                                    <span class="badge badge-danger col-1">wasted</span>
                                {% elif task.status == 3 %}
                                    <span class="badge badge-success col-1">done</span>
                                {% endif %}
<!--                                end badges-->

                                <span class=>{{ task.title }}</span>
                                <span class="float-right">

<!--                                    deadline-->
                                    {% if task.deadline and task.status != 3 %}
                                        <span class="mr-2">Deadline in: {{ task.update_status }}</span>
                                    {% endif %}
<!--                                    end deadline-->

                                    <a href="{% url 'desk:task_update' task.id %}" data-toggle="tooltip" data-placement="right" title="Edit the task">
                                        <img src="{% static 'desk/icons/edit-16.png' %}" alt="U">
                                    </a>
                                    <a href="{% url 'desk:task_delete' task.id %}" data-toggle="tooltip" data-placement="right" title="Delete the task">
                                        <img src="{% static 'desk/icons/delete-16.png' %}" alt="D">
                                    </a>
                                </span>
                            </button>
                        {% endfor %}
                    {% else %}
                        <p class="pt-2 pl-2">There no tasks yet.</p>
                    {% endif %}
<!--                       end generate task list-->
                </div>
            </div>

<!--                generate task detail-->
            {% if project.task_set.all %}
                {% for task in project.task_set.all %}
                    <div id="collapse-task-{{ task.id }}" class="collapse rounded bg-dark text-white" data-parent="#task-area">
                        <div class="card card-body bg-dark border-light">
                            <p class="row">
                                <span class="col-2">Tittle: </span>{{ task.title }}
                                <span class="ml-auto mr-2">
                                    <a href="{% url 'desk:task_update' task.id %}" data-toggle="tooltip" data-placement="right" title="Edit the task">
                                        <img src="{% static 'desk/icons/edit-16.png' %}" alt="U">
                                    </a>
                                    <a href="{% url 'desk:task_delete' task.id %}" data-toggle="tooltip" data-placement="right" title="Delete the task">
                                        <img src="{% static 'desk/icons/delete-16.png' %}" alt="D">
                                    </a>
                                </span>
                            </p>
                            <p class="row"><span class="col-2">Status: </span>

<!--                                badges-->
                                {% if task.status == 0 %}
                                    <span class="badge badge-secondary col-1">new</span>
                                {% elif task.status == 1 %}
                                    <span class="badge badge-info col-1">working</span>
                                {% elif task.status == 2 %}
                                    <span class="badge badge-danger col-1">wasted</span>
                                {% elif task.status == 3 %}
                                    <span class="badge badge-success col-1">done</span>
                                {% endif %}
                            </p>
<!--                                end badges-->

                            <p class="row"><span class="col-2">Created: </span>{{ task.date_created }}</p>

                            <p class="row"><span class="col-2">Deadline: </span>
                                {% if task.deadline and task.status != 3 %}
                                    {{ task.deadline }} ({{ task.update_status }})
                                {% elif task.deadline and task.status == 3 %}
                                    {{ task.deadline }}
                                {% else  %}
                                    not defined
                                {% endif %}
                            </p>

                            <p>Description: </p>
                            <p>{{ task.description }}</p>
                            <div class="row m-auto">
                                {% if task.status == 0 or task.status == 1 %}
                                    <a href="{% url 'desk:task_complete' task.id %}" class="btn btn-success">Mark as done</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
<!--               end generate task detail-->

        {% endfor %}
    </div>

</div>

{% endblock content %}
